#banner{
    background-image: url("../img/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
}
.signup-img{
    height: 85vh;
    width: 100%;
}

.form-container{
    width: 80%;
}

footer{
    padding: 10px;
    background-color: black;
}

.main-box{
    min-height: 85vh;
}

.create-customer{
    margin:0 auto;
    box-shadow: 5px 5px 10px black;
}

.customer-banner
{
    box-shadow: 2px 2px 20px black;
}

.before-auth, .after-auth
{
    cursor: pointer;
}

.after-auth{
    display: none;
}

.transaction-box{
  width: 75%;
  margin: 20px auto;
  box-shadow: 5px 5px 10px #F0F0F0;
}

#profile-container{
    padding:5%;
}
#profile-container .img{
    text-align:center;
}
#profile-container .details{
    border-left:3px solid #ded4da;
}
#profile-container .details p{
    font-size:15px;
    font-weight:bold;
}
.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
