.signup-img{
    height: 85vh;
    width: 100%;
}

.form-container{
    width: 80%;
}

footer{
    padding: 10px;
    background-color: black;
}

.main-box{
    min-height: 85vh;
}

.create-customer{
    margin:0 auto;
    box-shadow: 5px 5px 10px black;
}

.customer-banner
{
    box-shadow: 2px 2px 20px black;
}

.after-auth{
    display: none;
}